<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Momo | Multilingual Chat App</title>
  {% load static %}
  <link rel="stylesheet" href="{% static '/chatTranslation/css/style.css' %}" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<div class="wrapper">
    <section class="form signup">
      <header>Realtime Chat App</header>
      <form action="{% url 'signup'%}" method="POST" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
        <div class="error-text"></div>
        <div class="name-details">
          <div class="field input">
            <label>First Name</label>
            {{form.fname}}
          </div>
          <div class="field input">
            <label>Last Name</label>
            {{form.lname}}
          </div>
        </div>
        <div class="field input">
          <label>Email Address</label>
            {{form.mail}}
        </div>
        <div class="field input">
          <label>Password</label>
          {{form.password}}
          <i class="fas fa-eye"></i>
        </div>
        <div class="field input">
            <label>Select Language</label>
            {{form.language}}
        </div>
        <div class="field image">
          <label>Select Image</label>
          {{form.img}}
        </div>
        <div class="field button">
          <button>Continue to Chat</button>
        </div>
      </form>
      <div class="link">Already signed up? <a href="{% url 'login'%}">Login now</a></div>
    </section>
  </div>

  <script src="{% static 'chatTranslation/javascript/pass-show-hide.js'%}"></script>
  <!-- <script src="javascript/signup.js"></script> -->
</body>
</html>
